<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuário</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <h1>Cadastro de usuário</h1>

    <% if (erros) { %>
        <ul>
            <% for (let i = 0; i< erros.length; i++){ %>
                <li><%= erros[i].msg %></li>
            <% } %>   
            </ul>
    <% } %>

    <form action="/usuario/cadastrar" method="post">
        <label>Nome</label>
        <br>
        <input type="text" value="<%= usuario.nome %>" name="nome" id="nome">
        <br>
        <label>Email</label>
        <br>
        <input type="email" value="<%= usuario.email %>" name="email" id="email">
        <br>
        <label>Senha</label>
        <br>
        <input type="password" value="<%= usuario.senha %>" name="senha" id="senha">
        <input type="submit" value="Cadastrar">


    </form>
</body>
</html>