<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <% if (erros){ %>
        <ul>
            <% for (let i=0; i < erros.length; i++) { %>
                <li><%= erros[i].msg %></li>
            <% } %>
        </ul>
    <% } %>

    <form action="/usuario/validar" method="post">
        <label>E-mail</label>
        <br>
        <input type="email" value="<%= usuario.email%>" name="email" id="email">
        <br>
        <label>Senha</label>
        <br>
        <input type="password" value="<%= usuario.senha%>" name="senha" id="senha">
        <br>
        <br>
        <input type="submit" value="Entrar">
    </form>

    <a href="/usuario/cadastro_usuario">Cadastre-se</a>
</body>
</html>