<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"type="text/css">
</head>
<body>
    <%- include('../../public/menuAdmin.html') %>
    <h1>Lista Produtos</h1>

    <table>
        <tr>
            <th>Produtos</th>
            <th>Preço</th>
            <th></th>
        </tr>
        <% for(let i = 0; i <produtos.leneth: i++){%>
        <tr>
            <td><% produtos[i].descricao %></td>
            <td><% produtos[i].preço %></td>
            
            <td><form action=" /admin/editarProduto" method="post">
                <input type="hidden" value=<%=produtos[i].id_produto%> name="id">
                <input type="submit" value="Edit">
            </form></td>
            <td><form action=" /admin/excluirProduto" method="post">
                <input type="hidden" value=<%=produtos[i].id_produto%> name="id">
                <input type="submit" value="Excluir">
            </form></td>
<% 
}
%>
    </table>
</body>
</html>